In [1]:
!pip install prophet

Requirement already satisfied: prophet in c:\users\pksch\anaconda3\envs\dev\lib\site-packages (1.1.5)
Requirement already satisfied: cmdstanpy>=1.0.4 in c:\users\pksch\anaconda3\envs\dev\lib\site-packages (from prophet) (1.2.2)
Requirement already satisfied: numpy>=1.15.4 in c:\users\pksch\anaconda3\envs\dev\lib\site-packages (from prophet) (1.26.4)
Requirement already satisfied: matplotlib>=2.0.0 in c:\users\pksch\anaconda3\envs\dev\lib\site-packages (from prophet) (3.8.4)
Requirement already satisfied: pandas>=1.0.4 in c:\users\pksch\anaconda3\envs\dev\lib\site-packages (from prophet) (2.2.2)
Requirement already satisfied: holidays>=0.25 in c:\users\pksch\anaconda3\envs\dev\lib\site-packages (from prophet) (0.48)
Requirement already satisfied: tqdm>=4.36.1 in c:\users\pksch\anaconda3\envs\dev\lib\site-packages (from prophet) (4.66.4)
Requirement already satisfied: importlib-resources in c:\users\pksch\anaconda3\envs\dev\lib\site-packages (from prophet) (6.4.0)
Requirement already satisfied: stanio<2.0.0,>=0.4.0 in c:\users\pksch\anaconda3\envs\dev\lib\site-packages (from cmdstanpy>=1.0.4->prophet) (0.5.0)
Requirement already satisfied: python-dateutil in c:\users\pksch\anaconda3\envs\dev\lib\site-packages (from holidays>=0.25->prophet) (2.9.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\pksch\anaconda3\envs\dev\lib\site-packages (from matplotlib>=2.0.0->prophet) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\pksch\anaconda3\envs\dev\lib\site-packages (from matplotlib>=2.0.0->prophet) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\pksch\anaconda3\envs\dev\lib\site-packages (from matplotlib>=2.0.0->prophet) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\pksch\anaconda3\envs\dev\lib\site-packages (from matplotlib>=2.0.0->prophet) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\pksch\anaconda3\envs\dev\lib\site-packages (from matplotlib>=2.0.0->prophet) (24.0)
Requirement already satisfied: pillow>=8 in c:\users\pksch\anaconda3\envs\dev\lib\site-packages (from matplotlib>=2.0.0->prophet) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\pksch\anaconda3\envs\dev\lib\site-packages (from matplotlib>=2.0.0->prophet) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in c:\users\pksch\anaconda3\envs\dev\lib\site-packages (from pandas>=1.0.4->prophet) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pksch\anaconda3\envs\dev\lib\site-packages (from pandas>=1.0.4->prophet) (2024.1)
Requirement already satisfied: colorama in c:\users\pksch\anaconda3\envs\dev\lib\site-packages (from tqdm>=4.36.1->prophet) (0.4.6)
Requirement already satisfied: six>=1.5 in c:\users\pksch\anaconda3\envs\dev\lib\site-packages (from python-dateutil->holidays>=0.25->prophet) (1.16.0)

In [3]:
import pandas as pd
from prophet import Prophet
import datetime as dt
import numpy as np
# %matplotlib inline

In [17]:
# Load all the files into dataframes and into a list
years = ["2018", "2019", "2020", "2021", "2022", "2023"]
standings_dataframes = []

for year in years:
    standings_dataframes.append(pd.read_csv(f"./Resources/{year} Standings.csv"))

#standings_dataframes[0].columns
all_standings_df = pd.concat(standings_dataframes, ignore_index=True)
display(all_standings_df.head())
display(all_standings_df.tail())

,league,season,gamesBehind,streak,winStreak,tieBreakerPoints,team.id,team.name,team.nickname,team.code,...,win.home,win.away,win.total,win.percentage,win.lastTen,loss.home,loss.away,loss.total,loss.percentage,loss.lastTen
0,standard,2021,18.0,3,False,NaN,41,Washington Wizards,Wizards,WAS,...,21,14,35,0.427,5,20,27,47,0.573,5
1,standard,2021,10.0,3,True,NaN,5,Charlotte Hornets,Hornets,CHA,...,22,21,43,0.524,6,19,20,39,0.476,4
2,standard,2021,0.0,1,False,NaN,20,Miami Heat,Heat,MIA,...,29,24,53,0.646,6,12,17,29,0.354,4
3,standard,2021,10.0,1,True,NaN,1,Atlanta Hawks,Hawks,ATL,...,27,16,43,0.524,7,14,25,39,0.476,3
4,standard,2021,31.0,1,True,NaN,26,Orlando Magic,Magic,ORL,...,12,10,22,0.268,3,29,31,60,0.732,7

,league,season,gamesBehind,streak,winStreak,tieBreakerPoints,team.id,team.name,team.nickname,team.code,...,win.home,win.away,win.total,win.percentage,win.lastTen,loss.home,loss.away,loss.total,loss.percentage,loss.lastTen
175,standard,2021,15.0,1,True,NaN,40,Utah Jazz,Jazz,UTA,...,29,20,49,0.598,4,12,21,33,0.402,6
176,standard,2021,18.0,1,False,NaN,22,Minnesota Timberwolves,Timberwolves,MIN,...,26,20,46,0.561,4,15,21,36,0.439,6
177,standard,2021,16.0,1,False,NaN,9,Denver Nuggets,Nuggets,DEN,...,23,25,48,0.585,6,18,16,34,0.415,4
178,standard,2021,37.0,11,False,NaN,29,Portland Trail Blazers,Trail Blazers,POR,...,17,10,27,0.329,0,24,31,55,0.671,10
179,standard,2021,40.0,3,False,NaN,25,Oklahoma City Thunder,Thunder,OKC,...,12,12,24,0.293,4,29,29,58,0.707,6