Part 1 - Collect Data into CSVs to work with

In [2]:
import sys
import os
import requests
import pandas as pd
import time

In [3]:
seasons = [2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]
matches = {
    "First Round": {
        "Series 1" : {
            "Team1": "New York Nicks",
            "Team2": "Philadelphia 76ers"
		},
        "Series 2": {
            "Team1": "Milwaukee Bucks",
            "Team2": "Indiana Pacers"
		},
        "Series 3": {
            "Team1": "Cleveland Cavaliers",
            "Team2": "Orlando Magic"
		},
        "Series 4": {
            "Team1": "Boston Celtics",
            "Team2": "Miami Heat"
		},
        "Series 5": {
            "Team1": "Oklahoma CityThunder",
            "Team2": "New Orleans Pelicans"
		},
        "Series 6": {
            "Team1": "LA Clippers",
            "Team2": "Dallas Mavericks"
		},
        "Series 7": {
            "Team1": "Minnesota Timberwolves",
            "Team2": "Phoenix Suns"
		},
        "Series 8": {
            "Team1": "Denver Nuggets",
            "Team2": "Los Angeles Lakers"
		},
	},
    "Second Round":{},
    "Third Round":{},
    "Finals":{}
}

compare = 'Game 1'

[2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]

In [4]:
# test the new CSV as a DF

df_teams = pd.read_csv('Resources/All Teams.csv', index_col='name').loc[['']]
df_teams.head()

,id,nickname,code,city,logo,allStar,nbaFranchise,leagues
name,,,,,,,,
Boston Celtics,2,Celtics,BOS,Boston,https://upload.wikimedia.org/wikipedia/fr/thum...,False,True,"{'standard': {'conference': 'East', 'division'..."
Cleveland Cavaliers,7,Cavaliers,CLE,Cleveland,https://upload.wikimedia.org/wikipedia/fr/thum...,False,True,"{'standard': {'conference': 'East', 'division'..."
Dallas Mavericks,8,Mavericks,DAL,Dallas,https://upload.wikimedia.org/wikipedia/fr/thum...,False,True,"{'standard': {'conference': 'West', 'division'..."
Denver Nuggets,9,Nuggets,DEN,Denver,https://upload.wikimedia.org/wikipedia/fr/thum...,False,True,"{'standard': {'conference': 'West', 'division'..."
Indiana Pacers,15,Pacers,IND,Indiana,https://upload.wikimedia.org/wikipedia/fr/thum...,False,True,"{'standard': {'conference': 'East', 'division'..."

In [44]:
headers = {
	"X-RapidAPI-Key": sports_data_api_key,
	"X-RapidAPI-Host": "api-nba-v1.p.rapidapi.com"
}

def get_players(team_id, season):
    time.sleep(30)
    return requests.get(uri+'/players', headers=headers, params={"team":team_id, "season":season}).json()['response']

all_players = []

for team_id in df_teams['id']:
    for season in seasons:
        all_players.extend(
            get_players(team_id, season)
        )

print(len(all_players))

1916

In [45]:
pd.json_normalize(all_players, max_level=0).to_csv('Resources/All Players.csv', index=False)

# test the new CSV as a DF

df_players = pd.read_csv('Resources/All Players.csv')
df_players.head()

,id,firstname,lastname,birth,nba,height,weight,college,affiliation,leagues
0,312,David,Lee,"{'date': None, 'country': None}","{'start': 0, 'pro': 0}","{'feets': None, 'inches': None, 'meters': None}","{'pounds': None, 'kilograms': None}",NaN,NaN,"{'standard': {'jersey': 10, 'active': True, 'p..."
1,271,Amir,Johnson,"{'date': '1987-05-01', 'country': 'USA'}","{'start': 2005, 'pro': 14}","{'feets': '6', 'inches': '9', 'meters': '2.06'}","{'pounds': '240', 'kilograms': '108.9'}",No College,"Westchester HS (Los Angeles, CA)/USA","{'standard': {'jersey': 5, 'active': True, 'po..."
2,254,RJ,Hunter,"{'date': '1993-10-24', 'country': 'USA'}","{'start': 2015, 'pro': 4}","{'feets': '6', 'inches': '5', 'meters': '1.96'}","{'pounds': '185', 'kilograms': '83.9'}",Georgia State,Georgia State/USA,"{'standard': {'jersey': 28, 'active': True, 'p..."
3,360,Jordan,Mickey,"{'date': None, 'country': None}","{'start': 0, 'pro': 0}","{'feets': None, 'inches': None, 'meters': None}","{'pounds': None, 'kilograms': None}",NaN,NaN,"{'standard': {'jersey': 25, 'active': True, 'p..."
4,458,Terry,Rozier,"{'date': '1994-03-17', 'country': 'USA'}","{'start': 2015, 'pro': 6}","{'feets': '6', 'inches': '1', 'meters': '1.85'}","{'pounds': '190', 'kilograms': '86.2'}",Louisville,Louisville/USA,"{'standard': {'jersey': 3, 'active': True, 'po..."

In [13]:
headers = {
	"X-RapidAPI-Key": sports_data_api_key,
	"X-RapidAPI-Host": "api-nba-v1.p.rapidapi.com"
}

games = requests.get(uri+'/games', headers=headers).json()

print(games)

{'get': 'games/', 'parameters': [], 'errors': {'required': 'At least one parameter is required.'}, 'results': 0, 'response': []}

In [14]:
headers = {
	"X-RapidAPI-Key": sports_data_api_key,
	"X-RapidAPI-Host": "api-nba-v1.p.rapidapi.com"
}

standings = requests.get(uri+'/standings', headers=headers).json()

print(standings)

{'get': 'standings/', 'parameters': [], 'errors': {'required': 'At least one parameter is required.'}, 'results': 0, 'response': []}

In [16]:
headers = {
	"X-RapidAPI-Key": sports_data_api_key,
	"X-RapidAPI-Host": "api-nba-v1.p.rapidapi.com"
}

statistics = requests.get(uri+'/games/statistics', headers=headers).json()

print(statistics)

{'get': 'games/statistics', 'parameters': [], 'errors': {'required': 'At least one parameter is required.'}, 'results': 0, 'response': []}

Part 2 - ???