In [6]:
import sys
from dotenv import load_dotenv
import os
import requests
import pandas as pd
import json

In [7]:
load_dotenv()
load_dotenv('.env')
sports_data_api_key = os.getenv('SPORTS_DATA_API_KEY')

In [8]:
url = "https://api-nba-v1.p.rapidapi.com/players/statistics"

querystring = {"id":"522","season":"2023"}

headers = {
	"X-RapidAPI-Key": sports_data_api_key,
	"X-RapidAPI-Host": "api-nba-v1.p.rapidapi.com"
}

response_turner = requests.get(url, headers=headers, params=querystring).json()
turner_df = pd.json_normalize(response_turner['response']).reset_index(drop=True)
turner_df = turner_df[['player.firstname','player.lastname','pos','points','min','fgm','fga','fgp','ftm','fta','tpm','tpa', 'tpp', 'offReb', 'defReb', 'totReb', 'assists', 'pFouls','steals', 'turnovers', 'blocks', 'plusMinus',]]
turner_df

,player.firstname,player.lastname,pos,points,min,fgm,fga,fgp,ftm,fta,...,tpp,offReb,defReb,totReb,assists,pFouls,steals,turnovers,blocks,plusMinus
0,Myles,Turner,C,6,16,1,4,25.0,4,4,...,0,0,3,3,0,0,1,0,3,-7
1,Myles,Turner,C,13,16,4,5,80.0,2,2,...,100.0,0,4,4,0,6,1,1,3,+7
2,Myles,Turner,C,8,23,3,9,33.3,2,4,...,0,2,7,9,2,3,0,1,1,+20
3,Myles,Turner,C,11,23,5,8,62.5,1,2,...,0,0,8,8,1,4,0,2,3,+14
4,Myles,Turner,C,20,29,7,14,50.0,5,5,...,20.0,1,11,12,1,5,0,2,2,-5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,Myles,Turner,C,23,35,8,16,50.0,5,6,...,33.3,1,1,2,3,4,1,1,1,-6
88,Myles,Turner,C,6,31,3,11,27.3,0,1,...,0,2,5,7,1,2,0,2,1,-21
89,Myles,Turner,C,21,35,7,13,53.8,5,6,...,40.0,6,4,10,1,3,0,1,3,+24
90,Myles,Turner,C,13,26,5,5,100.0,0,0,...,100.0,2,3,5,2,2,1,3,3,+24
91,Myles,Turner,C,16,30,6,12,50.0,0,0,...,57.1,0,5,5,2,2,2,4,2,-17

In [10]:
url = "https://api-nba-v1.p.rapidapi.com/players/statistics"

querystring = {"id":"479","season":"2023"}

headers = {
	"X-RapidAPI-Key": sports_data_api_key,
	"X-RapidAPI-Host": "api-nba-v1.p.rapidapi.com"
}

response_Siakam = requests.get(url, headers=headers, params=querystring).json()
Siakam_df = pd.json_normalize(response_Siakam['response']).reset_index(drop=True)
Siakam_df = Siakam_df[['player.firstname','player.lastname','pos','points','min','fgm','fga','fgp','ftm','fta','tpm','tpa', 'tpp', 'offReb', 'defReb', 'totReb', 'assists', 'pFouls','steals', 'turnovers', 'blocks', 'plusMinus',]]
Siakam_df

,player.firstname,player.lastname,pos,points,min,fgm,fga,fgp,ftm,fta,...,tpp,offReb,defReb,totReb,assists,pFouls,steals,turnovers,blocks,plusMinus
0,Pascal,Siakam,PF,8,20,3,6,50.0,2,3,...,0,0,3,3,4,3,2,2,1,+8
1,Pascal,Siakam,PF,22,31,8,11,72.7,4,6,...,40.0,0,5,5,0,1,3,4,0,+3
2,Pascal,Siakam,PF,19,26,7,16,43.8,5,7,...,0,2,6,8,3,2,0,2,1,+19
3,Pascal,Siakam,PF,15,34,5,17,29.4,2,2,...,60.0,0,7,7,6,2,1,2,0,+7
4,Pascal,Siakam,PF,18,41,7,15,46.7,3,5,...,20.0,1,7,8,2,4,0,3,0,-2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,Pascal,Siakam,PF,19,37,8,16,50.0,2,4,...,33.3,2,4,6,5,4,1,1,0,-4
90,Pascal,Siakam,PF,14,36,7,18,38.9,0,2,...,0,5,4,9,2,3,0,0,1,-9
91,Pascal,Siakam,PF,26,31,9,14,64.3,7,9,...,100.0,3,4,7,1,5,0,3,1,+15
92,Pascal,Siakam,PF,14,22,7,9,77.8,0,0,...,0,1,3,4,2,3,1,0,0,+23
93,Pascal,Siakam,PF,22,33,7,15,46.7,6,7,...,66.7,3,5,8,2,3,1,2,0,-2

In [11]:
url = "https://api-nba-v1.p.rapidapi.com/players/statistics"

querystring = {"id":"2626","season":"2023"}

headers = {
	"X-RapidAPI-Key": sports_data_api_key,
	"X-RapidAPI-Host": "api-nba-v1.p.rapidapi.com"
}

response_Nesmith = requests.get(url, headers=headers, params=querystring).json()
Nesmith_df = pd.json_normalize(response_Nesmith['response']).reset_index(drop=True)
Nesmith_df = Nesmith_df[['player.firstname','player.lastname','pos','points','min','fgm','fga','fgp','ftm','fta','tpm','tpa', 'tpp', 'offReb', 'defReb', 'totReb', 'assists', 'pFouls','steals', 'turnovers', 'blocks', 'plusMinus',]]
Nesmith_df

,player.firstname,player.lastname,pos,points,min,fgm,fga,fgp,ftm,fta,...,tpp,offReb,defReb,totReb,assists,pFouls,steals,turnovers,blocks,plusMinus
0,Aaron,Nesmith,SF,9,19,1,6,16.7,6,6,...,25.0,0,1,1,1,2,2,1,1,+3
1,Aaron,Nesmith,SF,18,20,7,9,77.8,3,3,...,33.3,0,0,0,0,3,1,0,0,0
2,Aaron,Nesmith,SF,15,16,6,10,60.0,0,0,...,50.0,1,0,1,1,3,0,0,0,+4
3,Aaron,Nesmith,SF,0,13,0,1,0,0,0,...,0,0,2,2,1,2,0,2,0,-7
4,Aaron,Nesmith,SF,7,23,2,5,40.0,2,2,...,33.3,1,4,5,1,3,0,1,1,+13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,Aaron,Nesmith,SF,12,31,3,6,50.0,6,6,...,0,2,4,6,3,4,0,1,0,-16
84,Aaron,Nesmith,SF,6,34,2,7,28.6,0,0,...,33.3,0,1,1,2,3,1,2,0,-19
85,Aaron,Nesmith,SF,10,38,3,6,50.0,2,2,...,66.7,1,5,6,1,3,1,0,0,+20
86,Aaron,Nesmith,SF,8,24,4,8,50.0,0,0,...,0,2,10,12,1,4,0,1,1,+23
87,Aaron,Nesmith,SF,8,28,2,7,28.6,3,3,...,33.3,0,4,4,2,4,0,2,0,-15

In [12]:
url = "https://api-nba-v1.p.rapidapi.com/players/statistics"

querystring = {"id":"3476","season":"2023"}

headers = {
	"X-RapidAPI-Key": sports_data_api_key,
	"X-RapidAPI-Host": "api-nba-v1.p.rapidapi.com"
}

response_Nembhard = requests.get(url, headers=headers, params=querystring).json()
Nembhard_df = pd.json_normalize(response_Nembhard['response']).reset_index(drop=True)
Nembhard_df = Nembhard_df[['player.firstname','player.lastname','pos','points','min','fgm','fga','fgp','ftm','fta','tpm','tpa', 'tpp', 'offReb', 'defReb', 'totReb', 'assists', 'pFouls','steals', 'turnovers', 'blocks', 'plusMinus',]]
Nembhard_df

,player.firstname,player.lastname,pos,points,min,fgm,fga,fgp,ftm,fta,...,tpp,offReb,defReb,totReb,assists,pFouls,steals,turnovers,blocks,plusMinus
0,Andrew,Nembhard,PG,13,23,5,10,50.0,2,2,...,50.0,1,0,1,2,2,2,3,0,-9
1,Andrew,Nembhard,PG,12,22,6,9,66.7,0,0,...,0,1,3,4,10,4,0,2,0,+12
2,Andrew,Nembhard,PG,4,25,2,5,40.0,0,0,...,0,0,2,2,4,4,2,1,0,+21
3,Andrew,Nembhard,PG,6,21,3,7,42.9,0,0,...,0,0,1,1,2,4,2,4,0,-2
4,Andrew,Nembhard,PG,14,20,6,17,35.3,1,2,...,14.3,0,2,2,1,0,0,1,0,-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,Andrew,Nembhard,PG,11,29,4,10,40.0,2,2,...,50.0,0,2,2,4,5,0,0,0,-13
76,Andrew,Nembhard,PG,15,27,7,9,77.8,0,0,...,33.3,0,0,0,4,5,0,1,0,-21
77,Andrew,Nembhard,PG,5,31,2,8,25.0,0,0,...,33.3,1,4,5,6,5,0,2,0,+8
78,Andrew,Nembhard,PG,9,21,4,5,80.0,0,0,...,50.0,0,1,1,5,3,0,2,0,+16
79,Andrew,Nembhard,PG,11,28,4,10,40.0,1,2,...,66.7,1,1,2,4,2,0,2,1,-12

In [13]:
url = "https://api-nba-v1.p.rapidapi.com/players/statistics"

querystring = {"id":"2595","season":"2023"}

headers = {
	"X-RapidAPI-Key": sports_data_api_key,
	"X-RapidAPI-Host": "api-nba-v1.p.rapidapi.com"
}

response_Haliburton = requests.get(url, headers=headers, params=querystring).json()
Haliburton_df = pd.json_normalize(response_Haliburton['response']).reset_index(drop=True)
Haliburton_df = Haliburton_df[['player.firstname','player.lastname','pos','points','min','fgm','fga','fgp','ftm','fta','tpm','tpa', 'tpp', 'offReb', 'defReb', 'totReb', 'assists', 'pFouls','steals', 'turnovers', 'blocks', 'plusMinus',]]
Haliburton_df

,player.firstname,player.lastname,pos,points,min,fgm,fga,fgp,ftm,fta,...,tpp,offReb,defReb,totReb,assists,pFouls,steals,turnovers,blocks,plusMinus
0,Tyrese,Haliburton,PG,15,23,4,9,44.4,5,6,...,28.6,0,3,3,8,1,1,2,0,+14
1,Tyrese,Haliburton,PG,14,28,5,11,45.5,4,5,...,0,0,4,4,9,0,4,2,1,+13
2,Tyrese,Haliburton,PG,20,27,9,16,56.3,0,0,...,33.3,0,3,3,11,1,1,3,2,+6
3,Tyrese,Haliburton,PG,21,32,7,16,43.8,3,3,...,57.1,1,7,8,13,2,0,1,0,-1
4,Tyrese,Haliburton,PG,19,36,6,16,37.5,6,7,...,12.5,1,4,5,13,1,2,4,0,+2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,Tyrese,Haliburton,PG,6,36,2,6,33.3,0,0,...,40.0,0,2,2,8,0,4,3,0,-12
79,Tyrese,Haliburton,PG,34,35,11,19,57.9,5,6,...,63.6,2,4,6,9,0,3,2,0,-17
80,Tyrese,Haliburton,PG,35,38,14,26,53.8,1,1,...,37.5,0,4,4,7,1,2,2,1,+16
81,Tyrese,Haliburton,PG,20,28,8,15,53.3,0,0,...,40.0,0,6,6,5,2,0,0,0,+31
82,Tyrese,Haliburton,PG,13,34,5,9,55.6,2,2,...,25.0,0,2,2,5,0,2,2,2,-22

In [14]:
url = "https://api-nba-v1.p.rapidapi.com/players/statistics"

querystring = {"id":"2658","season":"2023"}

headers = {
	"X-RapidAPI-Key": sports_data_api_key,
	"X-RapidAPI-Host": "api-nba-v1.p.rapidapi.com"
}

response_Toppin = requests.get(url, headers=headers, params=querystring).json()
Toppin_df = pd.json_normalize(response_Toppin['response']).reset_index(drop=True)
Toppin_df = Toppin_df[['player.firstname','player.lastname','pos','points','min','fgm','fga','fgp','ftm','fta','tpm','tpa', 'tpp', 'offReb', 'defReb', 'totReb', 'assists', 'pFouls','steals', 'turnovers', 'blocks', 'plusMinus',]]
Toppin_df

,player.firstname,player.lastname,pos,points,min,fgm,fga,fgp,ftm,fta,...,tpp,offReb,defReb,totReb,assists,pFouls,steals,turnovers,blocks,plusMinus
0,Obi,Toppin,PF,7,16,3,7,42.9,0,1,...,50.0,2,3,5,0,1,0,1,0,-9
1,Obi,Toppin,PF,8,18,3,7,42.9,1,2,...,25.0,3,3,6,1,1,0,1,0,-7
2,Obi,Toppin,PF,7,18,3,6,50.0,0,0,...,33.3,0,3,3,1,1,2,1,1,+19
3,Obi,Toppin,PF,17,26,6,9,66.7,4,4,...,33.3,0,9,9,1,1,0,0,0,+7
4,Obi,Toppin,PF,11,19,4,9,44.4,1,1,...,40.0,1,3,4,1,0,1,0,0,+7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,Obi,Toppin,PF,12,19,5,7,71.4,0,0,...,66.7,0,6,6,3,2,0,0,1,+4
94,Obi,Toppin,PF,20,20,7,10,70.0,4,5,...,50.0,1,2,3,1,0,1,0,0,+9
95,Obi,Toppin,PF,2,19,1,4,25.0,0,0,...,0,1,0,1,3,1,1,1,0,-17
96,Obi,Toppin,PF,14,18,6,11,54.5,0,0,...,66.7,0,1,1,2,0,1,0,1,+21
97,Obi,Toppin,PF,7,21,2,5,40.0,3,3,...,0,0,5,5,2,1,0,1,0,-25

In [15]:
url = "https://api-nba-v1.p.rapidapi.com/players/statistics"

querystring = {"id":"348","season":"2023"}

headers = {
	"X-RapidAPI-Key": sports_data_api_key,
	"X-RapidAPI-Host": "api-nba-v1.p.rapidapi.com"
}

response_McConnell = requests.get(url, headers=headers, params=querystring).json()
McConnell_df = pd.json_normalize(response_McConnell['response']).reset_index(drop=True)
McConnell_df = McConnell_df[['player.firstname','player.lastname','pos','points','min','fgm','fga','fgp','ftm','fta','tpm','tpa', 'tpp', 'offReb', 'defReb', 'totReb', 'assists', 'pFouls','steals', 'turnovers', 'blocks', 'plusMinus',]]
McConnell_df

,player.firstname,player.lastname,pos,points,min,fgm,fga,fgp,ftm,fta,...,tpp,offReb,defReb,totReb,assists,pFouls,steals,turnovers,blocks,plusMinus
0,T.J.,McConnell,PG,11,17,5,7,71.4,0,0,...,50.0,1,2,3,8,1,1,0,0,+1
1,T.J.,McConnell,PG,7,18,3,7,42.9,1,2,...,0,0,2,2,4,2,0,1,0,-7
2,T.J.,McConnell,PG,7,20,3,5,60.0,1,1,...,0,1,2,3,9,1,1,2,0,-4
3,T.J.,McConnell,PG,9,12,3,8,37.5,3,4,...,0,1,1,2,3,0,0,1,0,-10
4,T.J.,McConnell,PG,4,6,2,2,100.0,0,0,...,0,0,1,1,2,0,2,0,0,+1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,T.J.,McConnell,PG,18,22,9,16,56.3,0,0,...,0,0,1,1,3,2,3,1,0,+9
83,T.J.,McConnell,PG,10,23,5,9,55.6,0,0,...,0,1,3,4,12,0,0,2,0,+10
84,T.J.,McConnell,PG,6,19,3,10,30.0,0,0,...,0,0,3,3,1,1,1,1,0,-19
85,T.J.,McConnell,PG,15,21,6,12,50.0,1,1,...,100.0,1,3,4,10,4,2,2,0,+27
86,T.J.,McConnell,PG,7,19,3,8,37.5,1,1,...,0,0,0,0,5,1,0,1,0,-19

In [16]:
url = "https://api-nba-v1.p.rapidapi.com/players/statistics"

querystring = {"id":"3979","season":"2023"}

headers = {
	"X-RapidAPI-Key": sports_data_api_key,
	"X-RapidAPI-Host": "api-nba-v1.p.rapidapi.com"
}

response_Sheppard = requests.get(url, headers=headers, params=querystring).json()
Sheppard_df = pd.json_normalize(response_Sheppard['response']).reset_index(drop=True)
Sheppard_df = Sheppard_df[['player.firstname','player.lastname','pos','points','min','fgm','fga','fgp','ftm','fta','tpm','tpa', 'tpp', 'offReb', 'defReb', 'totReb', 'assists', 'pFouls','steals', 'turnovers', 'blocks', 'plusMinus',]]
Sheppard_df

,player.firstname,player.lastname,pos,points,min,fgm,fga,fgp,ftm,fta,...,tpp,offReb,defReb,totReb,assists,pFouls,steals,turnovers,blocks,plusMinus
0,Ben,Sheppard,G,15,25,6,16,37.5,0,0,...,30.0,1,2,3,3,1,0,1,0,-4
1,Ben,Sheppard,G,11,23,4,9,44.4,0,1,...,42.9,1,3,4,4,1,0,1,1,0
2,Ben,Sheppard,G,9,22,3,8,37.5,0,0,...,37.5,1,3,4,1,1,0,1,0,-4
3,Ben,Sheppard,G,3,9,1,3,33.3,1,2,...,0,0,1,1,1,1,2,0,0,+5
4,Ben,Sheppard,G,0,6,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,Ben,Sheppard,G,8,18,3,5,60.0,0,0,...,50.0,0,2,2,2,1,0,0,0,+13
69,Ben,Sheppard,G,11,20,4,6,66.7,0,0,...,75.0,0,0,0,1,0,0,0,0,+12
70,Ben,Sheppard,G,2,16,1,5,20.0,0,0,...,0,1,3,4,1,1,1,0,0,-3
71,Ben,Sheppard,G,6,19,2,6,33.3,1,1,...,20.0,0,7,7,0,1,0,0,0,+21
72,Ben,Sheppard,G,6,25,2,3,66.7,0,0,...,66.7,0,0,0,2,3,0,1,0,-16

In [17]:
turner_csv = turner_df.to_csv('../resources/pacers stats/Turner.csv',index=False)
Siakam_csv = Siakam_df.to_csv('../resources/pacers stats/Siakam.csv',index=False)
Nesmith_csv = Nesmith_df.to_csv('../resources/pacers stats/Nesmith.csv',index=False)
Nembhard_csv = Nembhard_df.to_csv('../resources/pacers stats/Nembhard.csv',index=False)
Haliburton_csv = Haliburton_df.to_csv('../resources/pacers stats/Haliburton.csv',index=False)
Toppin_csv = Toppin_df.to_csv('../resources/pacers stats/Toppin.csv',index=False)
McConnell_csv = McConnell_df.to_csv('../resources/pacers stats/McConnell.csv',index=False)
Sheppard_csv = Sheppard_df.to_csv('../resources/pacers stats/Sheppard.csv',index=False)